.container {
  padding-top: 20px;
  padding-bottom: 20px;
}
.grid_item_tagline {
  text-align: center;
  color: #000000;
}
.tagline {
  font-family: Quicksand;
  font-weight: 300;
}
.grid_item_card {
  padding-top: 5px;
}
